span {
    animation: blinker 2s linear infinite
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.carousel-image {
    height:auto;
    width:350px; 
}
.accentcolor {
    background-color: #ffcc99;
}

.nameicon {
    position:relative; 
    right:10%; 
    top:10%;
}

.url {
    color:chocolate;
}

.page-header {
    font-size:48px; 
    font-family: courier new;
}
.page-center {
    margin: 0;
    position: absolute;
    top: 52%;
    left: 50%;
    -ms-transform: translate(-50%, -40%);
    transform: translate(-50%, -50%);
  }

.vertical-center {
    margin: 0;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
 }

.project {
    float: left;
    height: 225px;
    width: 225px;
    border: 5px;
    border-color: #ffcc99;
    border-style: solid;
    border-radius: 5px;
    border-spacing: 10px;
    justify-content: space-between;
    margin: 10px;
    display:none;
}

.active-filter {
    background-color: #ffcc99; 
    border: 1; 
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.2);
}

.show {
    display: block;
}

.hoverbox {
    height: 100px;
    top: -100px;
    width: 215px;
    background-color: white;
    opacity: 0.75;
    left: 0%;  
    margin:0 auto;
    position: relative;
    display: none;
    text-align: center;
    padding: 20px 0;
}

.project:hover .hoverbox {
    display: block;
}

.projgrid {
    overflow: hidden;
    font-family: courier new; 
    color: black; 
    font-size: 20px;
}

.projtitle {
    margin:0px; 
    padding:0px; 
    position:relative;
}